@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
strong {
  font-weight: 700; }

h1 {
  font-size: 2.369em;
  line-height: 1.3em;
  font-weight: 200; }

h2 {
  font-size: 1.777em;
  line-height: 1.5em;
  font-weight: 700; }

h3 {
  font-size: 1.333em;
  line-height: 1.5em;
  font-weight: 700; }

@media (min-width: 500px) {
  h1 {
    font-size: 4.236em; }
  h2 {
    font-size: 2.618em; }
  h3 {
    font-size: 1.618em; } }

body {
  background: #F9F9F9;
  color: #323232;
  font-family: 'Source Code Pro';
  font-size: 1em;
  font-weight: 400; }

.wrapper {
  padding: 1em;
  width: 90%; }
