@import 'global/color';
@import 'global/type';
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

// BODY

body {
  background: $off-white;
  color: $dark-grey;
  font-family: 'Source Code Pro', ;
  font-size: 1em;
  font-weight: $normal;
}

.wrapper {
	padding: 1em;
	width: 90%;
}

// STUPID LARGE DESKTOP BREAKPOINT
@media (min-width: 1000px) {
	.wrapper {
		max-width: 1000px;
		margin: 0 auto;
	}
	.wrapper {
		width: 760px;
		//padding-top: 0;
	}
}

// LINKS

a {
			color: $dark-grey;
			text-decoration: none;
			font-weight: $normal;
			display: block;
			text-align: right;
			&.active {
				text-decoration: none;
				font-weight: $bold;
				border-bottom: 5px solid $dark-grey;
			}
			&:hover {
				background-color: #EFC100;
				border-bottom: 5px solid $dark-grey;
			}
		}